* {
    margin: 0 auto;
}

body {
    font-size: 20px;
    font-family: sans-serif;
}

div {
    text-align: center;
}

.wrapper {
    width: 1200px;
}

#menu {
    padding: 10px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}


#menuSpace {
    width: 150px;
}

.menuItem:hover {
    text-decoration: underline;
}

.blankRow {
    height: 40px;
}

.largeBanner {
    object-fit: cover;
}

.copy {
    width: 256px;
    text-align: left;
  
}

@media screen and (max-width: 1400px) {
    .rightSide {
        display: none;
    }
}
@media screen and (max-width: 860px) {
    .textLink {
        display: none;
    }
    .rightSide {
        display: none;
    }
    .allKittens {
        display: none;
    }
}